#whiskermenu-button,#showdesktop-button ,#xfce-panel-toggle-button,#xfce4-xapp-status-plugin-button ,#indicator-button ,#pulseaudio-button, #xfce4-power-manager-plugin {border-radius: 8px; margin: 2px; }

#xfce4-notification-plugin {border-radius: 8px; margin: 2px;  border: none;}

#XfcePanelWindow{ border-radius: 8px;}

#sn-button{border-radius: 8px; margin: 2px;}

#clock-button{padding:4px 3px; border-radius: 8px; margin: 2px; color: shade(#fcfcfc); border: 1px solid grey;}

.xfce4-panel .tasklist .toggle { border-radius: 8px; margin: 2px; background-image: linear-gradient(to bottom, shade(black,0),shade(black,0));}
.xfce4-panel .tasklist .toggle:hover { margin: 2px;}
.xfce4-panel .tasklist .toggle:checked{ background-image: linear-gradient(to bottom, shade(grey,0.4),shade(grey,0.4));} 
